body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header {
  display: flex;

}

.Header-Coin {
  width: 10%;
  margin-left: 5%;
  font-weight: bold;
}

.Header-Symbol {
  width: 15%;
  margin-left: 10%;
  font-weight: bold;
}

.Header-Ticker {
  width: 15%;
  font-weight: bold;
}

.Header-Price {
  width: 15%;
  font-weight: bold;
}

.Header-Variation {
  width: 15%;
  font-weight: bold;
}

.Header-MCap {
  font-weight: bold;
}
